html {
  font-size: 10px;
}
body {
  font-family: 'museo_reg', sans-serif;
}
section {
  padding: 4rem 0 8rem;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.section-title {
  margin-bottom: 6rem;
  text-align: center;
  text-transform: uppercase;
  font-family: 'museo_bold', sans-serif;
}
